@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    padding: 2% 4%;
    font-family: 'Montserrat', sans-serif;
    color: #083f58;
    background-color: #fff;
}